form{
  padding: 30px 20px;
  margin: 60px 390px;
  border-radius: 9px;
  background-color:rgb(27, 129, 163);
}
.map{
  margin: 10px 20px;
  background-color: rgb(27, 129, 163);
  display:inline-block ;
  border-radius: 10px;
}
label{
  color: white;
}
button{
  width: 20%;
  height: 35px;
  border-radius: 5px;
  background-color:azure;
}
input{
 margin: 15px;
 display: flow-root;
 width: 90%;
 height: 30px;
 border-radius: 5px;
}
.showDataStyles{
  margin: 10px 100px;
  padding: 10px 10px;
  border-bottom: 2px solid white;
}
p{
  display: inline;
  margin: 20px 140px;
  padding-top: 20px;
  padding-bottom: 20px;
color: white;

}